html {
  overflow: hidden;
}

body {
  background-color: #333652;
  font-family: "Fredoka One";
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 3em;
}

h1 {
  color: #fad02c;
  font-size: 5em;
  margin: 0.3em;
}

h4 {
  color: #90adc6;
  font-size: 2em;
  margin: 0.2em;
}

p {
  color: #e9eaec;
  font-size: 1.2em;
  font-family: "Montserrat";
  text-align: justify;
}
